body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

/*

Style our app according to the provided design!

green color -> #5f9341

*/


input {
    width: 100%;
    height: 1.5rem;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #5f9341;
    margin-bottom: 4px;
    min-width: 400px;
}

input:hover {
    background: lightgray;
}

input:focus::placeholder {
    color: transparent;
}

button {
    background: #5f9341;
    border: 1px solid #5f9341;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
}

#delete-btn {
    background: white;
    color: #5f9341;
}

#export-btn {
    width: 20px;
    background: none;
    color: #5f9341;
    border: none;
    font-size: 16px;
    text-align: left;
    padding: 5px;
}

#export-btn:hover{
    color:rgb(45, 97, 15);
    border: none;
    background: none;
    box-shadow: none;
}

button:hover{
    box-shadow: 0px 2px 6px black;
    cursor: pointer;
}

ul {
    margin-top: 20px;
    list-style: none;
    padding-left: 0px;
}

li {
    margin-bottom: 5px;
}

li a {
    color: #5f9341;
    font-weight: bold;
}

/* a::before{
    content: 'https://';
} */

li a:hover{
    color: rgb(65, 117, 35);
}

table {
    width: 100%;
    border-radius: 5px;
}

table, th, td {
    border: none;
    border-collapse: collapse;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: #5f9341;
    font-weight: bold;
    text-align: left;
    height: auto;
}

th {
    background: #5f9341;
    color: white;
}

th, td {
    border-bottom: 1px solid lightgray;
}

tr:hover {
    background-color: lightgray;
}

a {
    color: #5f9341;
}

a:hover {
    color: rgb(65, 117, 35);
}